<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div style="box-shadow: 0 0 10px lightslategray;padding: 15px;border-radius: 8px;display: flex;justify-content: center;background-color: #f7f7f7a8;" class="row">
                <h1>Register</h1>
                <div class="col-md-10">
                    <form action="#" class="m-auto" th:action="@{/register}" th:object="${userDTO}" method="post">
                        <div class="form-group">
                            <label class="font-style" for="firstName">First name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                </div>
                                <input placeholder="First name" type="text" th:field="*{firstName}" class="form-control" aria-describedby="basic-addon1" name="firstName" id="firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-user"></i></span>
                                </div>
                                <input placeholder="Last name" type="text" th:field="*{lastName}" class="form-control" aria-describedby="basic-addon2" name="lastName" id="lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon10"><i class="fas fa-at"></i></span>
                                </div>
                                <input placeholder="Email" type="email" th:field="*{email}" class="form-control" aria-describedby="basic-addon10" name="email" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon4"><i class="fas fa-birthday-cake"></i></span>
                                </div>
                                <input placeholder="Birthday" type="date" th:field="*{birthday}" class="form-control" aria-describedby="basic-addon4" name="birthday" id="birthday">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon5"><i class="fas fa-phone"></i></span>
                                </div>
                                <input placeholder="Phone" type="text" th:field="*{phone}" class="form-control" aria-describedby="basic-addon5" name="phone" id="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon6"><i class="fas fa-key"></i></span>
                                </div>
                                <input placeholder="Password" type="password" th:field="*{password}" class="form-control" aria-describedby="basic-addon6" name="password" id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon7"><i class="fas fa-key"></i></span>
                                </div>
                                <input placeholder="Confirm password" type="password" th:field="*{confirmPassword}" class="form-control" aria-describedby="basic-addon7" name="confirmPassword" id="confirmPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon8"><i class="fas fa-map-marked-alt"></i></span>
                                </div>
                                <input placeholder="Address" type="text" th:field="*{address}" class="form-control" aria-describedby="basic-addon8" name="address" id="address">
                            </div>
                        </div>
                        <p style="color:black !important;margin-left: 20px"><a th:href="@{/login}">Already have account ?</a></p>
                        <button class="btn btn-dark" type="submit">Sign Up</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
<script src="../static/js/script.js"></script>
</body>
</html>